<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/rules.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="headline">Rules of Hangman game</h1>
    </header>
    <nav>
        <button class="nav-btn"onClick="window.location.href='./index.html';">Play game</button>
        <button class="nav-btn" onClick="window.location.href='./rules.html';">Rules</button>
        <button class="nav-btn" onClick="window.location.href='./contacts.html';">Contacts</button>
    </nav>
    <main>
        <section>
            <div>
                <hr>
                <center><h2>The rules are simple</h2></center>
                <hr>
            </div>
            <div id="rules">
                <ol>
                    <li><h3>You start the game with 3 lives.</h3></li>
                    <li><h3>Think of one letter that can fit in the word.</h3></li>
                    <li><h3>Insert your letter in the textbox below the hidden word.</h3></li>
                    <li><h3>You can't insert letter that is already used.</h3></li>
                    <li><h3>Click ENTER or click on the button to try the letter.</h3></li>
                    <li><h3>If you guessed wrong, you will lose 1 life.</h3></li>
                    <li><h3>You win if you guessed the word and lose if you 
                        drop down to 0 lives(3 wrong letters).</h3></li>
                    <li><h3>Enjoy!</h3></li>
                </ul>
            </div>
                <div><center><h4>If you have any issues with the game or want to report a bug, 
                    please contact me in the Contacts page. Thank you!</h4></center>
            </div>
        </section>
    </main>
    <footer>
        <div id="copyright">&copy; 2022 Stefan Todorov</div>
    </footer>
</body>
</html>